
#waitfade{

    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index:1001;
    -moz-opacity: 0.7;
    opacity:.70;
    filter: alpha(opacity=70);
}

#waitlight
{
    background: none repeat scroll 0 0 #fff;
    border-radius: 24px;
    display: none;
    height: 115px;
    left: 50%;
    margin-left: -173px;
    margin-top: -108px;
    overflow: visible;
    padding: 10px;
    position: absolute;
    top: 50%;
    width: 329px;
    z-index: 1002;
}

#sessionfade{

    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index:1001;
    -moz-opacity: 0.7;
    opacity:.70;
    filter: alpha(opacity=70);
}

#sessionlight{

    background: none repeat scroll 0 0 #fff;
    border-radius: 24px;
    display: none;
    height: 131px;
    left: 50%;
    margin-left: -211px;
    margin-top: -108px;
    overflow: visible;
    padding: 10px;
    position: absolute;
    top: 50%;
    width: 404px;
    z-index: 1002;
}


#kycdivfade{

    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index:1001;
    -moz-opacity: 0.7;
    opacity:.70;
    filter: alpha(opacity=70);
}

#kycdivlight{

    background: none repeat scroll 0 0 #fff;
    border-radius: 24px;
    display: none;
    height: auto;
    left: 50%;
    margin-left: -363px;
    margin-top: -108px;
    overflow: visible;
    padding: 10px;
    position: absolute;
    top: 50%;
    width: 800px;
    z-index: 1002;
}

body {
    
    color: #bbbbbb; 
    margin: 0;
    min-width: 960px;
    padding: 0;
}
.clock a {
    color: #00c6ff;
    text-decoration: none;
}
.clock h1 {
    font: 4em normal Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
}
.clock h1 small {
    display: block;
    font: 0.2em/5em normal Arial,Helvetica,sans-serif;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}
.clock h2 {
    color: #bbb;
    font-size: 20px;
    font-weight: 700;
}
.clock h2, p {
    margin-bottom: 10px;
}

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('BebasNeue-webfont.eot');
    src: url('BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('BebasNeue-webfont.woff') format('woff'),
         url('BebasNeue-webfont.ttf') format('truetype'),
         url('BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.timeContainer {
    margin: 36px auto 0 7px;
    overflow: hidden;
    width: 621px;
}

.clock {
    border: 1px solid #3c8dbc;
    border-radius: 6px;
    color: #656565;
    margin: 0 auto;
    padding: 36px;
    width: 619px;
}

#Date {
    font-family: "BebasNeueRegular",Arial,Helvetica,sans-serif;
    font-size: 34px;
    text-align: center;
    text-shadow: 0 0 5px #3c8dbc;
}
.clock ul {
    list-style: outside none none;
    /* margin: 0 auto; */
    margin:2px 0 -31px -16px;
    padding: 0;
    text-align: center;
    width: 559px;
}
.clock ul li {
    display: inline;
    font-family: "BebasNeueRegular",Arial,Helvetica,sans-serif;
    font-size: 7em;
    text-align: center;
    text-shadow: 0 0 5px #00c6ff;
}
#point { position:relative; -moz-animation:mymove 1s ease infinite; -webkit-animation:mymove 1s ease infinite; padding-left:10px; padding-right:10px; }

@-webkit-keyframes mymove 
{
0% {opacity:1.0; text-shadow:0 0 20px #3c8dbc;}
50% {opacity:0; text-shadow:none; }
100% {opacity:1.0; text-shadow:0 0 20px #00c6ff; }	
}


@-moz-keyframes mymove 
{
0% {opacity:1.0; text-shadow:0 0 20px #3c8dbc;}
50% {opacity:0; text-shadow:none; }
100% {opacity:1.0; text-shadow:0 0 20px #00c6ff; }	
}
